<script>
  $(document).ready(function(){
    $('#initializeTable-noPaging').DataTable({
      "bPaginate": false,
       "scrollX": true
    });
     if(isLoggedIn == false)
        if (sessionStorage["mojio_token"] !=  null){
          var temp_token = sessionStorage["mojio_token"];
          console.log("temp token is: "+ temp_token);
          mojio_client.auth_token = JSON.parse(temp_token); //load in token if return to map page 
          isLoggedIn = mojio_client.isLoggedIn();
          console.log("new login status is from isloggedin = "+isLoggedIn);
          changeLogoutIcon();          
        }
  });    
</script>

<div class="container-fluid">
  <h1>Listing stations</h1>

  <p> Last Updated: <%= @jobs.timestamp %></p>

  <table class="display" id="initializeTable-noPaging">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Regular Price</th>
        <th>Mid Grade Price</th>
        <th>Premium Price</th>
        <th>Diesel Price</th>
      </tr>
    </thead>

    <tbody>
      <% @stations.each do |station| %>
        <tr>
          <td><%= station.brand %></td>
          <td><%= station.address %></td>
          <td><%= station.unleaded %></td>
          <td><%= station.midGrade %></td>
          <td><%= station.premium %></td>
          <td><%= station.diesel %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


