<script>
  

  $(document).ready(function(){
    $('#initializeTable-noPaging').DataTable({
      "bPaginate": false
      });
  });
  
  
</script>
<script>
function mojioLogin() {
    var a = '<div class="alert alert-warning alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Warning!</strong> No station found in the given search range. Please select a bigger search range. </div>';
    $('#hi').append(a);
  }
</script>

<a id="btn-login" href="#" class="btn btn-success"  onclick="mojioLogin()" >Login to Mojio  </a>



<div class="container-fluid">
  <h1>Listing stations</h1>
  
  <div id="hi">
  
  </div>

  <p> Last Updated: <%= @jobs.timestamp %></p>

  <table class="display" id="initializeTable-noPaging">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Regular Price</th>
        <th>Mid Grade Price</th>
        <th>Premium Price</th>
        <th>Diesel Price</th>
      </tr>
    </thead>

    <tbody>
      <% @stations.each do |station| %>
        <tr>
          <td><%= station.brand %></td>
          <td><%= station.address %></td>
          <td><%= station.city %></td>
          <td><%= station.unleaded %></td>
          <td><%= station.midGrade %></td>
          <td><%= station.premium %></td>
          <td><%= station.diesel %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


