<script>
  $(document).ready(function(){
    $('#initializeTable-noPaging').DataTable({
      "bPaginate": false,
       "scrollX": true
    });
    
  });  
  
  if (sessionStorage["mojio_token"] != null ){
    mojio_client.auth_token = JSON.parse(sessionStorage["mojio_token"]); //load in token 
  }
  isLoggedIn = mojio_client.mojio_client.isLoggedIn();
  console.log("New login status inside stations: "+ isLoggedIn);
  changeLogoutIcon();
</script>

<div class="container-fluid">
  <h1>Listing stations</h1>

  <p> Last Updated: <%= @jobs.timestamp %></p>

  <table class="display" id="initializeTable-noPaging">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Regular Price</th>
        <th>Mid Grade Price</th>
        <th>Premium Price</th>
        <th>Diesel Price</th>
      </tr>
    </thead>

    <tbody>
      <% @stations.each do |station| %>
        <tr>
          <td><%= station.brand %></td>
          <td><%= station.address %></td>
          <td><%= station.unleaded %></td>
          <td><%= station.midGrade %></td>
          <td><%= station.premium %></td>
          <td><%= station.diesel %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


