<h1>Listing stations</h1>

<table class="display" id="initializeTable-noPaging">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Unleased Price</th>
      <th>Mid Grade Price</th>
      <th>Premium Price</th>
      <th>Disel Price</th>
    </tr>
  </thead>

  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= station.brand %></td>
        <td><%= station.address %></td>
        <td><%= station.city %></td>
        <td><%= station.unleaded %></td>
        <td><%= station.midGrade %></td>
        <td><%= station.premium %></td>
        <td><%= station.disel %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Station', new_station_path %>

