<!DOCTYPE html>
<html>
<head>
  <title>Mojio Cheap Gas</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap.min.css', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <script src="jquery-1.11.1.js"></script>
  <script src="bootstrap.min.js"></script>
  <div class = "navbar navbar-inverse navbar-static-top">
    <div class = "container">
      <div class = "navbar-header">
       <a href = "#" class = "navbar-brand"><img src = "https://www.moj.io/wp-content/uploads/2013/09/mojioappicon.png" height = "25" width = "25"></a>
       <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
       </button>
      </div>
      
      <div class = "collapse navbar-collapse navHeaderCollapse">
        <ul class = "nav navbar-nav navbar-right">
          <li class = "active"><%= link_to "Home", root_path %></li>
          <li><a href = "stations">Gas Stations</a></li>
          <li><a href = "#">About</a></li>
        </ul>
      </div>

    </div>
  </div>

  
  
<%= yield %>

</body>
</html>

