<!DOCTYPE html>
<html>
<head>
  <title>Mojio Cheap Gas</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap.min.css', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <script src="jquery-1.11.1.js"></script>
  <script src="bootstrap.min.js"></script>
  
  
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <img alt="Brand" src="/assets/navbar_badge.png" height = "40" style="margin-top:5px; margin-left:25px">
        
        
       </div> 
        
       <div class = "collapse navbar-collapse navHeaderCollapse" >
         <ul class = "nav navbar-right nav-pills" style="margin-top:5px; margin-right: 10px">
           <li role="presentation"><%= link_to "Login", root_path %></li>
           <li role="presentation"><a href = "stations">Gas Stations</a></li>
           <li role="presentation"><a href = "map">Map</a></li>
         </ul>
       </div>
    
    </div>
   </nav> 
   
<%= yield %>

</body>
</html>