<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>Mojio Cheap Gas</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= stylesheet_link_tag 'bootstrap.min.css', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css">

  <%=javascript_include_tag "application"%>
</head>

<body>

  <!-- DataTables-->
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
  
  <!--GoogleMap-->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd36LENIhwUv1SPYxOGrZTVf5w5Kqj_Q4"></script> 
  
  <!--Mojio API-->
  <script type="text/javascript" charset="utf-8" src="mojio-js.js"></script>

<!--Jquery library --> 
  <script type="text/javascript" charset="utf-8" src="jquery-1.11.1.js"></script>
  
  <!-- General Layout-->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= image_tag("navbar_badge.png", :alt => "brand", :size => "268x40", :style => "margin-top:5px; margin-left:25px")%>
       
        <button class = "navbar-toggle visible-xs" data-toggle = "collapse" data-target = "#collapse-pills">
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
        </button>
       </div> 
       
       <div class = "collapse navbar-collapse" id = "collapse-pills">
         <ul class = "nav navbar-right nav-pills " style="margin-top:5px; margin-right: 10px">
           <li><%= link_to "Login", root_path %></li>
           <li><a href = "stations">Gas Stations</a></li>
           <li><a href = "map">Map</a></li>
         </ul>
       </div>
    
    </div>
   </nav> 
   
<%= yield %>

</body>
</html>
